body {
    text-align: center;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
}

.tentativas {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
}

.title {
    font-size: 100px;
    margin: 0;
}

#winner-loser {
    position: relative;
    top: 32vh;
}

.lost {
    position: relative;
    top: 15vh;
    font-size: 100px;
    margin: 0;
    padding: 0;
}

.game-button {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}

.refresh {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    font-size: 30px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 7px;
}

.game {
    margin: 0px;
    font-size: 0px;
    position: relative;
}